html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
  }
/* nav bar*/

a {
    color: #1a252f;
    font-size: 20px;
  }
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    color: #ff8581;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width:481px) {
    .header li {
      float: left;
      color: #ff8581;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }

    .show{
        display: contents;
    }

  }
  

/* nav bar ends*/

.home_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media(max-width: 480px)
{
  .show_desktop{
    display: contents;
  }
}


.resume_button{
    display: flex;
    border: 1px;
    -webkit-box-pack: center;
    justify-content: center;
}


/*section */

.section{
    margin-top: 10px;
    padding: 10px;
   
    
}

@media(min-width:480px)
{
  #about{
    height: 200px;
  }
}


.section-dark{
    background-color: #1a252f;
    margin-top: 10px;
    padding: 10px;
}

.text{
    font-size: 20px;
    color: #ff8581;
    
}

.highlight_text{
    font-size: 20px;
    color: #1a252f; 
}

.text-head{
    font-size: 30px;
    color: #ff8581;
    
}

.img_about{
    border-radius: 50%;
    float: left;
    border: 1px solid #333;
    margin: 5px;
    height: 200px;
    width: auto;
}

/* section ends*/

/* skill section */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


.animated{
    animation-duration: 1s;
    animation-fill-mode: both; 

}

.fade{
    animation-name: fade;
}

.fadeinup{
    animation-name: fadeinup;
}

.fadeinright{
    animation-name: fadeinright;
}

.animated.delay{
    animation-delay: .3s;
}

.animated.delay05{
    animation-delay: .6s;
}


#highlight_text{
    color: #FFF;
}


.skill_list .skill_list_icon{
    margin-top: 15px;
    flex: 0 1 80px;
    color: #FFF;

}

.text-center{
    text-align: center;
}

.disp{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.skill-box{
    margin-top: 20px;
}

.sprite {
    background-repeat: no-repeat;
    display: block;
}

.sprite.sprite-html {
    
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/html.jpg);
    
}

.sprite.sprite-css {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/css.jpg);
    
}

.sprite.sprite-js {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/JavaScript.jpg);
    
}

.sprite.sprite-jquery {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/jquery.jpg);
    
}

.sprite.sprite-pwa {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/pwa.jpg);
    
}

.sprite.sprite-nodejs {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/nodejs.jpg);
    
}

.sprite.sprite-python {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/python.jpg);
    
}

.sprite.sprite-c {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/c++.jpg);
    
}

.sprite.sprite-java{

    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/java.png);
    
}

.sprite.sprite-ionic {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/ionic.jpg);
    
}

.sprite.sprite-reactjs {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/reactjs.png);
    
}

.sprite.sprite-bootstrap {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/bootstrap.jpg);
    
}

.sprite.sprite-momentjs {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/momentjs.jpg);
    
}

.sprite.sprite-chaijs {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/chaijs.jpg);
    
}

.sprite.sprite-mochajs {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/mochajs.jpg);
    
}

.sprite.sprite-npm {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/npm.jpg);
    
}

.sprite.sprite-webpack {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/webpack.jpg);
    
}

.sprite.sprite-vsc {
   
    width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/vscode.jpg);
    
}

.sprite.sprite-eclipse{

  width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/eclipse.jfif);

}

.sprite.sprite-neo4j{

  width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/neo4j.png);
}

.sprite.sprite-jmeter{

  width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/jmeter.jpg);
}

.sprite.sprite-newRelic{

  width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/new\ relic.png);
}

.sprite.sprite-springBoot{

  width: 40px;
    height: 40px;
    margin: 5px auto;
    background-image: url(./icons/spring\ boot.png);
}

.icontext{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


@keyframes fade{
    0%{
        opacity: 0;
        transform: translate3d(-100%,0,0);
    }

    100%{
        opacity:1;
        transform: translateZ(0);
    }
}


@keyframes fadeinup{
    0%{
        opacity: 0;
        transform: translate3d(0,100%,0);
    }

    100%{
        opacity: 1;
        transform: translateZ(0);
    }
    
}

@keyframes fadeinright{
    0% {
        opacity: 0;
        transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        transform: translateZ(0);

    }
}

/* skills section ends*/

/* project section*/

input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
 
.r1 {
    display: flex;
}
.r1 .c1 {
    flex: 1;
}
.r1 .c1:last-child {
    margin-left: 1em;
}
/* Accordion styles */
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    cursor: pointer;
    font-size: 20px;
}
.tab-label:hover {
    background: #1a252f;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
}
.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 15px;
    background: #2c3e50;
    cursor: pointer;
}
.tab-close:hover {
    background: #1a252f;
}
input:checked + .tab-label {
    background: #1a252f;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}


/* projects section ends*/

/* passion section*/

.r > .c {
    padding: 0 8px;
  }
  
  .r:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .c {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .boxsize{
      box-sizing: border-box;
  }

  /*passion*/

/*   
  .passion-header {
    text-align: center;
    padding: 32px;
  } */
  
  .passion-row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .passion-column {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
  }
  
  .passion-column .passion-img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .passion-column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .passion-column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }